127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{hostvars[master]['ansible_default_ipv4']['address'] }} master.{{id}}.demo.li9.com master
{{hostvars[app2]['ansible_default_ipv4']['address'] }} app2.{{id}}.demo.li9.com app2
{{hostvars[app1]['ansible_default_ipv4']['address'] }} app1.{{id}}.demo.li9.com app1
{{hostvars[app3]['ansible_default_ipv4']['address'] }} app3.{{id}}.demo.li9.com app3
