127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
#172.31.50.121 master.{{id}}.demo.li9.com master
#172.31.55.171 app2.{{id}}.demo.li9.com app2
#172.31.54.159 app1.{{id}}.demo.li9.com app1
